/* home */
#home {
    padding: 90px 90px 0px 90px;
    background-image: url('/src/assets/Bg-Hero-Section.svg');
    background-position: center;
    background-size: cover;
}

.home .row {
    min-height: 93vh;
}

.home .row h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 46px;
    font-weight: 700;
    color: #004280;
}

.home .row p {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #001B33;
}

.home .row button {
    background-color: #0085FF;
    width: 70%;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    border-radius: 20px;
}

/* home end */


/* daftar sekarang */

#daftar-sekarang {
    padding: 90px 90px 0px 90px;
    font-family: 'Montserrat', sans-serif;
    background-image: url(/src/assets/Circle-bg.svg);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat
}

.daftar-sekarang .row .col img {
    width: 500px;
}

.daftar-sekarang .row .col .text-daftar h1 {
    color: #55AEFF;
    font-size: 38px;
    font-weight: 700;
}

.daftar-sekarang .row .col .text-daftar p {
    font-size: 18px;
}

.daftar-sekarang .row .col .text-daftar span {
    font-weight: 600;
}

.daftar-sekarang .row .col button {
    background-color: #0085FF;
    color: #FFFFFF;
    border-radius: 20px;
}

/* daftar sekarang end */

/* services */
#services {
    margin-top: 100px;
    padding: 90px 90px 0px 90px;
    font-family: 'Montserrat', sans-serif;
    background-image: url(/src/assets/Rectangle-Rounded-bg.svg);
    background-position: center;
    background-size: cover;
    border-bottom: 2px solid #636363;
    margin-bottom: 20px;
    min-height: 50vh;

}

.services .text-center h1 {
    font-size: 38px;
    font-weight: 700;
    color: #55AEFF;
}

.services .text-center p {
    font-size: 18px;
    font-weight: 400;
}

.services .row {
    margin-top: 50px;
}

.services .service-content img {
    padding: 30px;
    width: 90px;
    height: 90px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(/src/assets/Vector.svg);
}

.services .service-content .text-center h3 {
    font-size: 18px;
    font-weight: 700;
}

.services .service-content .text-center span {
    font-weight: 700;
}

/* services end */

/* conselors */
#conselors {
    padding: 6px 90px 0px 90px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 100px;
}

.conselors .conselors-content {
    padding: 0px 90px 0px 90px;
}

.conselors .conselors-content h5 {
    font-size: 20px;
    font-weight: 700;
}

.conselors .conselors-content .btn {
    border: 2px solid #CACACA;
    border-radius: 20px;
    padding: 5px 20px;
    font-size: 12px;
}

.conselors .conselors-content button img {
    width: 20px;
    height: 20px;
}

.conselors .conselors-content .caraosel-conselor img {
    border-radius: 20px 20px 0px 0px;
    width: 400px;
}

.conselors .conselors-content .caraosel-conselor .card-caraosel {
    height: 460px;
    width: 400px;
    margin: 50px;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* conselors end*/

@media screen and (max-width:1328px) {
    .conselors .conselors-content {
        padding: 0px 30px 0px 30px;
    }
}

@media screen and (max-width:1212px) {
    .home .row button {
        width: 100%;
    }
}

@media screen and (max-width:1148px) {
    .home .row h1 {
        font-size: 36px;
    }

    .home .row p {
        font-size: 16px;
    }

    .home .row .col img {
        width: 420px;
    }
}

@media screen and (max-width:992px) {

    #home {
        padding: 90px 33px 0px 33px;
    }

}

/* @media screen and (max-width:600px) {

    nav .container-fluid .d-flex,
    hr,
    .kemenkes {
        display: none;
    }

    nav .container-fluid .d-flex span {
        display: none;
    }
} */